<!DOCTYPE html>
<html>
  <head>
    <title>Your Tasks</title>
    <link href="https://fonts.cdnfonts.com/css/public-pixel" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script src="/script.js"></script>
  </head>
  <body>
    <header>
      <nav class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="addtasks">Add Tasks</a></li>
          <li><a href="viewtasks">View Tasks</a></li>
          <li><a href="focus">Focus</a></li>
          <li><a href="logout">Logout</a></li>
        </ul>
      </nav>
    </header>

    <h1>Tasks</h1>
    <div class="columns">
      <div class="swim-lane" id="pending-column">
        <h3>Pending Tasks</h3>
        <ul id="pendingTasks">
          <% tasks.forEach(function(task) { %> <% if (task.status === 'pending')
          { %>
          <li class="task-item" draggable="true">
            <div class="task-details">
              <strong >Task Name:</strong> <%= task.task_name %><br />
              <strong>Course:</strong> <%= task.course_name %><br />
              <strong>Due Date:</strong>
              <div class="due-date"><%= task.due_date %></div>
              <strong>Duration:</strong> <%= task.duration %> minutes<br />
              <strong>Priority:</strong> <%= task.priority %><br />
            </div>
            <div class="task-actions">
              <form action="/deleteTask" method="post">
                <input
                  type="hidden"
                  name="taskId"
                  value="<%= task.task_id %>"
                />
                <button type="submit">Delete Task</button>
              </form>
            </div>
          </li>
          <% } %> <% }) %>
        </ul>
      </div>

      <div class="swim-lane" id="completed-column">
        <h3>Completed Tasks</h3>
        <ul id="completedTasks">
          <% tasks.forEach(function(task) { %> <% if (task.status ===
          'completed') { %>
          <li class="task-item" draggable="true">
            <div class="task-details">
              <strong>Task Name:</strong> <%= task.task_name %><br />
              <strong>Course:</strong> <%= task.course_name %><br />
              <strong>Due Date:</strong>
              <div class="due-date"><%= task.due_date %></div>
              <br />
              <strong>Duration:</strong> <%= task.duration %> minutes<br />
              <strong>Priority:</strong> <%= task.priority %><br />
            </div>
            <div class="task-actions">
              <form action="/deleteTask" method="post">
                <input
                  type="hidden"
                  name="taskId"
                  value="<%= task.task_id %>"
                />
                <button type="submit">Delete Task</button>
              </form>
            </div>
          </li>
          <% } %> <% }) %>
        </ul>
      </div>

      <div class="swim-lane" id="overdue-column">
        <h3>Overdue Tasks</h3>
        <ul id="overdueTasks">
          <% tasks.forEach(function(task) { %> <% if (task.status === 'overdue')
          { %>
          <li class="task-item" draggable="true">
            <div class="task-details">
              <strong>Task Name:</strong> <%= task.task_name %><br />
              <strong>Course:</strong> <%= task.course_name %><br />
              <strong>Due Date:</strong>
              <div class="due-date"><%= task.due_date %></div>
              <br />
              <strong>Duration:</strong> <%= task.duration %> minutes<br />
              <strong>Priority:</strong> <%= task.priority %><br />
            </div>
            <div class="task-actions">
              <form action="/deleteTask" method="post">
                <input
                  type="hidden"
                  name="taskId"
                  value="<%= task.task_id %>"
                />
                <button type="submit">Delete Task</button>
              </form>
            </div>
          </li>
          <% } %> <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
