<!doctype html>
<html>
  <head>
    <title>Your Tasks</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script>
      function formatDate(dateString) {
        const options = {weekday: 'short', day: 'numeric', month: 'short', year: 'numeric'};
        return new Date(dateString).toLocaleDateString("en-US", options);
      }

      function toggleCompletedTasks() {
        var completedTasksSection = document.getElementById('completedTasks');
        completedTasksSection.style.display = completedTasksSection.style.display === 'none' ? 'block' : 'none';
      }
    </script>
  </head>
  <body>
    <header>
      <nav class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="addtasks">Add Tasks</a></li>
          <li><a href="viewtasks">View Tasks</a></li>
          <li><a href="logout">Logout</a></li>
        </ul>
      </nav>
    </header>
    <h1>Tasks</h1>
    <button class="button" onclick="toggleCompletedTasks()">Toggle Completed Tasks</button>
    <ul id="completedTasks" style="display: none;">
      <% tasks.forEach(function(task) { %>
        <% if (task.status === 'completed') { %>
          <li class="task-item">
            <div class="task-details">
              <strong>Task Name:</strong> <%= task.task_name %><br>
              <strong>Course:</strong> <%= task.course_name %><br>
              <strong>Due Date:</strong> <script>document.write(formatDate("<%= task.due_date %>"));</script><br>
              <strong>Duration:</strong> <%= task.duration %> minutes<br>           
              <strong>Priority:</strong> <%= task.priority %><br>
            </div>
            <div class="task-actions">
              <form action="/deleteTask" method="post">
                <input type="hidden" name="taskId" value="<%= task.task_id %>">
                <button type="submit">Delete Task</button>
              </form>
            </div>
          </li>
        <% } %>
      <% }) %>
    </ul>
    <ul>
      <% tasks.forEach(function(task) { %>
        <% if (task.status !== 'completed') { %>
          <li class="task-item">
            <div class="task-details">
              <strong>Task Name:</strong> <%= task.task_name %><br>
              <strong>Course:</strong> <%= task.course_name %><br>
              <strong>Due Date:</strong> <script>document.write(formatDate("<%= task.due_date %>"));</script><br>
              <strong>Duration:</strong> <%= task.duration %> minutes<br>           
              <strong>Priority:</strong> <%= task.priority %><br>
            </div>
            <div class="task-actions">
              <form action="/updateTaskStatus" method="post" class="status-form">
                <input type="hidden" name="taskId" value="<%= task.task_id %>">
                <select name="newStatus">
                  <option value="pending" <% if (task.status === 'pending') { %>selected<% } %>>Pending</option>
                  <option value="completed" <% if (task.status === 'completed') { %>selected<% } %>>Completed</option>
                  <option value="overdue" <% if (task.status === 'overdue') { %>selected<% } %>>Overdue</option>
                </select>
                <button type="submit">Update Status</button>
              </form>
              <form action="/deleteTask" method="post">
                <input type="hidden" name="taskId" value="<%= task.task_id %>">
                <button type="submit">Delete Task</button>
              </form>
            </div>
          </li>
        <% } %>
      <% }) %>
    </ul>
  </body>
</html>
